<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Gateway Configuration</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            max-width: 900px; /* Set the maximum width of the body content */
            margin: 0 auto; /* Center the body content horizontally */
            padding: 0 5%; /* Add padding to both left and right sides */
        }
        input, label, span, table, h1 {
            font-family: monospace;
        }
        span {
            color: #636262;
        }
        p {
          font-family: monospace;
          color: #000000;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h1 {
          margin-bottom: 0px;
        }

        /* Add padding to both left and right sides for high-resolution screens */
        @media only screen and (min-width: 1000px) {
            body {
                padding: 0;
            }
        }
    </style>
</head>
<body>
<div class="container">
<pre>
 _____             _                      _____     _       _ _ _ 
| __  |___ ___ ___| |_ ___ ___ ___ _ _   |   __|___| |_ ___| | | |___ _ _ 
|    -| . |_ -| . | . | -_|  _|  _| | |  |  |  | . |  _| -_| | | | . | | |
|__|__|_|_|___|  _|___|___|_| |_| |_  |  |_____|_|_|_| |___|_____|_|_|_  |
              |_|       Web-based |___|      Configuration & Install |___| </pre>
    <h1>Main Configuration</h1>
    <p>Standard configuration definitions.</p><br>

    <form id="config-form1" method="POST" action="/save">
      <label for="ur_timezone"><b>Timezone:</b></label>
      <input type="text" name="ur_timezone" placeholder="Local Timezone" value="{{.Config.URTimezone}}"><br>
      <span>Local Raspberry gateway Timezone. Used for various containers.<br>
      <a href="https://ipapi.co/timezone" target="_blank">Define current TZ</a></span><br><br>

      <label for="raspberry_gateway_ansible_user"><b>Ansible User:</b></label>
      <input type="text" name="raspberry_gateway_ansible_user" placeholder="Current Linux username" value="{{.InventoryConfig.All.Hosts.RaspberryGateway.AnsibleUser}}"><br>
      <span>Keep default, which is "pi". In most cases should be your local user.</span><br>
      <label for="raspberry_gateway_ansible_connection"><b>Ansible Connection:</b></label>
      <input type="text" name="raspberry_gateway_ansible_connection" placeholder="Local or ssh" value="{{.InventoryConfig.All.Hosts.RaspberryGateway.AnsibleConnection}}"><br>
      <span>Keep default - "Local", for local installations, or "ssh" for remote.</span><br>
      <label for="raspberry_gateway_ip"><b>Ansible host IP:</b></label>
      <input type="text" name="raspberry_gateway_ip" placeholder="IP of remote server" value="{{.InventoryConfig.All.Hosts.RaspberryGateway.IP}}"><br>
      <span>For "Local" istallations - does not make sence, for remote - set remote Raspberry Gateway IP.</span><br><br>

      <input type="checkbox" name="portainer_enable" id="portainer_enable" {{if .Config.PortainerEnable}}checked{{end}}>      
      <label for="portainer_enable" title="UI for Containers management"><b>Install Portainer</b></label><br>
      <span>Portainer is a containers management interface.</span><br>
      
      <h1>Local DNS and AD-Blocking</h1>
      <p>Setting up Local DNS and add-blockers.</p>
      <span>You can't use TechnitiumDNS and Unbound + Pi-Hole at the same time, as both utilize same 53 port for DNS.</span><br>
      <span>Advanced configuration available in advanced.config.yml</span><br><br>

      <table style="background-color: transparent">
        <tr>
          <td>
            <input type="checkbox" name="unbound_dns_enable" id="unbound_dns_enable" {{if .Config.UnboundDNSEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="unbound_dns_enable">Unbound DNS</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="pihole_enable" id="pihole_enable" {{if .Config.PiholeEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="pihole_enable">Pi-hole</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <label for="pihole_password">Pi-hole Web UI Password:</label> <input type="password" autocomplete="off" name="pihole_password" placeholder="Change this password!" value="{{.Config.PiholePassword}}">
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="pihole_with_unbound" id="pihole_with_unbound" {{if .Config.PiholeWithUnbound}}checked{{end}}>
          </td>
          <td>
            <b><label for="pihole_with_unbound">Pi-hole with Unbound as Local DNS</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="tech_dns_enable" id="tech_dns_enable" {{if .Config.TechDNSEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="tech_dns_enable">TechnitiumDNS</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <label for="tech_dns_password">TechnitiumDNS Web UI Password:</label> <input type="password" autocomplete="off" name="tech_dns_password" placeholder="Change this password!" value="{{.Config.TechDNSPassword}}">
          </td>
        </tr>
      </table>

      <h1>OpenVPN</h1>
      <p>OpenVPN Server & Client setup.</p>
      <span>Advanced Server and Client configuration available in advanced.config.yml</span><br><br>
      <table>
        <tr>
          <td>
            <input type="checkbox" name="ovpn_server_enable" id="ovpn_server_enable" {{if .Config.OpenVPNServer}}checked{{end}}>
          </td>
          <td>
            <b><label for="ovpn_server_enable">OpenVPN Server</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <label for="ovpnui_password">OpenVPN Server Web UI Password:</label> <input type="password" autocomplete="off" name="ovpnui_password" placeholder="Change this password!" value="{{.Config.OpenVPNUIPassword}}">
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="ovpn_client_enable" id="ovpn_client_enable" {{if .Config.OpenVPNClient}}checked{{end}}>
          </td>
          <td>
            <b><label for="ovpn_client_enable">OpenVPN Client</label></b>
          </td>
        </tr>
      </table>
    </form>

    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
      <table>
        <tr>
          <td>
          <input type="checkbox" style="visibility: hidden;" disabled>
          </td>
          <td>
            <b><label for="ovpn_client_cert">OpenVPN Client Certificate:</label> </b>
            <input type="file" name="file"> 
            <input type="submit" value="Upload">
            <p id="success-message" style="display: none; margin-left: 10px;">File uploaded as: <span>~/raspberry-gateway/openvpn-client/{{.Config.OpenVPNClientCert}}</span></p>
          </td>
        </tr>
      </table>
    </form>

    <form id="config-form2" method="POST" action="/save">
      <table style="background-color: transparent">
        <tr>
          <td>
            <input type="checkbox" style="visibility: hidden;" disabled>
          </td>
          <td>
            <b><label for="ovpn_client_allowed_subnet">OpenVPN Client Allowed Subnet:</label> </b><input type="text" name="ovpn_client_allowed_subnet" placeholder="Sub&Mask: 1.1.1.1/24" value="{{.Config.OpenVPNClientAllowedSub}}">
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <span> This should be your local WiFi network. <br>This is to allow access to qBitTorrent Web UI from your local network when VPN-client tunnel is connected.</span>
          </td>
        </tr>
      </table>

      <h1>GlueTun</h1>
      <p>GlueTun universal VPN Client setup.</p>
      <span>Advanced Server and Client configuration available in advanced.config.yml</span><br><br>

      <table style="background-color: transparent">
        <tr>
          <td>
            <input type="checkbox" name="gluetun_vpnclient_enable" id="gluetun_vpnclient_enable" {{if .Config.GluetunEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="gluetun_vpnclient_enable">GlueTun client</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" style="visibility: hidden;" disabled>
          </td>
          <td>
            <b><label for="gluetun_vpn_service_provider">GlueTun VPN service provider:</label> </b><input type="text" name="gluetun_vpn_service_provider" placeholder="GlueTun Service Provider" value="{{.Config.GluetunServiceProvider}}">
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" style="visibility: hidden;" disabled>
          </td>
          <td>
            <b><label for="gluetun_openvpn_user">GlueTun OpenVPN User:</label> </b><input type="text" name="gluetun_openvpn_user" placeholder="OpenVPN User" value="{{.Config.GluetunOpenvpnUser}}">
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" style="visibility: hidden;" disabled>
          </td>
          <td>
            <label for="gluetun_openvpn_password">OpenVPN Server Web UI Password:</label> <input type="password" autocomplete="off" name="gluetun_openvpn_password" placeholder="OpenVpn password" value="{{.Config.GluetunOpenvpnPassword}}">
          </td>
        </tr>
      </table>

      <h1>WireGuard</h1>
      <p>WireGuard VPN and UI setup.</p><br>
 
      <table>
        <tr>
          <td>
            <b><input type="checkbox" name="wireguard_server_enable" id="wireguard_server_enable" {{if .Config.WireGuardServer}}checked{{end}}></b>
          </td>
          <td>
            <b><label for="wireguard_server_enable">WireGuard Server</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
          <label for="wireguard_password">WireGuard Server Web UI Password:</label>  <input type="password" autocomplete="off" name="wireguard_password" placeholder="Change this password!" value="{{.Config.WireGuardServerPassword}}">
          </td>
        </tr>
      </table>

      <h1>qBitTorrent</h1>
      <p>An open-source software torrent tracker.</p><br>
      
      <table>
        <tr>
          <td>
            <input type="checkbox" name="qbittorrent_enable" id="qbittorrent_enable" {{if .Config.QbitTorrentEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="qbittorrent_enable">Install qBitTorrent</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <label for="qbittorrent_default_password">Default Web UI Password:</label> <input type="text" autocomplete="off" name="qbittorrent_default_password" placeholder="Change this password!" value="{{.Config.QbitTorrentPassword}}" disabled>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
          <span>Change this default password via WebUI at first login.</span>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="qbittorrent_inside_vpn" id="qbittorrent_inside_vpn" {{if .Config.QbitTorrentInVPN}}checked{{end}}>
          </td>
          <td>
            <b><label for="qbittorrent_inside_vpn">Route torrent traffic via VPN</label></b>
          </td>
        </tr>
        <tr>
          <td>
           &nbsp
          </td>
          <td>
          <span>Route all qBitTorrent traffic via VPN Client connection.<br> Don't forget to upload your "OpenVPN Client Certificate" and set "OpenVPN Client Allowed Subnet" above.</span>
          </td>
        </tr>
      </table>

      <h1>Monitoring</h1>
      <p>OpenVPN Server & Client setup.</p>
      <span>Advanced Monitoring configuration available in advanced.config.yml</span><br><br>

      <table>
        <tr>
          <td>
            <input type="checkbox" name="monitoring_enable" id="monitoring_enable" {{if .Config.MonitoringEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="monitoring_enable">Enable Monitoring</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <label for="monitoring_grafana_admin_password">Grafana first login Password:</label> <input type="text" name="monitoring_grafana_admin_password" placeholder="admin" value="{{.Config.MonitoringGrafPassword}}">
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="openvpn_monitoring_enable" id="openvpn_monitoring_enable" {{if .Config.OpenVPNMonitoringEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="openvpn_monitoring_enable">OpenVPN Server Monitoring</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="pikvm_monitoring_enable" id="pikvm_monitoring_enable" {{if .Config.PiKVMMonitoringEnable}}checked{{end}}>
          </td>
          <td>
            <b><label for="pikvm_monitoring_enable">PiKVM Monitoring</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="airgradient_monitoring_enable" id="airgradient_monitoring_enable" {{if .Config.AirGradientMonitoring}}checked{{end}}>
          </td>
          <td>
            <b><label for="airgradient_monitoring_enable">AirGradient Monitoring</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="starlink_monitoring_enable" id="starlink_monitoring_enable" {{if .Config.StarLinkMonitoring}}checked{{end}}>
          </td>
          <td>
            <b><label for="starlink_monitoring_enable">StarLink Monitoring</label></b>
          </td>
        </tr>
        <tr>
          <td>
            <input type="checkbox" name="shelly_plug_monitoring_enable" id="shelly_plug_monitoring_enable" {{if .Config.ShellyPlugMonitoring}}checked{{end}}>
          </td>
          <td>
            <b><label for="shelly_plug_monitoring_enable">ShellyPlug Monitoring</label></b>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp
          </td>
          <td>
            <label for="raspberry_gateway_ansible_use" style="visibility: hidden;">Ansible Use:</label> <input type="text" name="raspberry_gateway_ansible_use" value="{{.InventoryConfig.All.Hosts.RaspberryGateway.AnsibleUse}}" style="visibility: hidden;" disabled>
          </td>
        </tr>
      </table>
    </form>
    <button id="submit-btn" style="font-family: monospace; font-size: 2em; width: 100px; height: 40px;">Save</button>
  
    <h1>Installation</h1>
    <p>The installation process will take some time.<br> Once that's done, it'll be like you have a new <a href="https://github.com/d3vilh/raspberry-gateway" target="_blank">Raspberry Gateway</a> up and running.</p>
    <span>Latest installation log will be saved in ~/raspberry-gateway/webinstall.log</span><br><br>
    <form id="install-form" method="POST" action="/install">
        <input type="submit" value="Install" style="font-size: 2em; width: 130px; height: 40px;" onclick="return confirm('Are you sure you want to install?');">
    </form>
    <br>

    &nbsp<span style="color: black;"><b>Note: </b></span><span>There is one bug which leads to Pi-Hole installation failure (60 sec. timeout). To fix - run Install again.</span>
    <iframe id="output-iframe" src="webinstall.log" width="100%" height="300" scrolling="yes"></iframe><br>
    <table style="margin: auto;"">
      <tr>
        <td><b>Portainer:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:9000" target="_blank">http://{{.Config.IPAddress}}:9000</a></td>
        <td><b> &nbsp Monitoring:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:3030" target="_blank">http://{{.Config.IPAddress}}:3030</a></td>
        <td><b> &nbsp Prometheus:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:9090" target="_blank">http://{{.Config.IPAddress}}:9090</a></td>
        <td></td>
      </tr>
      <tr>
        <td><b>Pi-Hole:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:80" target="_blank">http://{{.Config.IPAddress}}:80</a></td>
        <td><b> &nbsp Tech. DNS:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:5380" target="_blank">http://{{.Config.IPAddress}}:5380</a></td>
        <td></td>
      </tr>
      <tr>
        <td><b>OpenVPN:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:8080" target="_blank">http://{{.Config.IPAddress}}:8080</a></td>
        <td><b> &nbsp QbitTorrent:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:8090" target="_blank">http://{{.Config.IPAddress}}:8090</a></td>
        <td><b> &nbsp WireGuard:</b></td>
        <td><a href="http://{{ .Config.IPAddress }}:5000" target="_blank">http://{{.Config.IPAddress}}:5000</a></td>
        <td></td>
      </tr>
    </table><br><br>
    <span style="font-size: 0.8em; display: block; margin: auto; text-align: center;">2023 by <a href="https://github.com/d3vilh" target="_blank">d3vilh</a> for <a href="https://github.com/d3vilh/raspberry-gateway" target="_blank">raspberry-gateway</a>.</span><br>

    <script>
    // File upload logic
        const uploadForm = document.getElementById('upload-form');
        const successMessage = document.getElementById('success-message');

        uploadForm.addEventListener('submit', (event) => {
          event.preventDefault();
          successMessage.style.display = 'block';
        });

    // Combine config-form1 and config-form2 into one fom and submit it
        document.getElementById('submit-btn').addEventListener('click', function(event) {
          event.preventDefault();
          var formData1 = new FormData(document.getElementById('config-form1'));
          var formData2 = new FormData(document.getElementById('config-form2'));
          var formData = new FormData();
          for (var pair of formData1.entries()) {
            formData.append(pair[0], pair[1]);
          }
          for (var pair of formData2.entries()) {
            formData.append(pair[0], pair[1]);
          }
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/save');
          xhr.onload = function() {
              // handle success response
              console.log(xhr.responseText);
              alert("New configuration have been saved.");
            };
            xhr.onerror = function() {
              alert("Something went wrong.");
              // handle error response
            };
            xhr.send(formData);
        });

    // Auto refresh iframe for webinstall.log
        const outputIframe = document.getElementById('output-iframe');
        setInterval(() => {
          outputIframe.src = 'webinstall.log?' + new Date().getTime();
          outputIframe.onload = () => {
            outputIframe.contentWindow.scrollTo(0, outputIframe.contentWindow.document.body.scrollHeight);
          };
        }, 3000);

    // Checkbox logic  
        const unboundDnsEnable = document.getElementById('unbound_dns_enable');
        const piholeEnable = document.querySelector('input[name="pihole_enable"]');
        const piholeWithUnbound = document.querySelector('input[name="pihole_with_unbound"]');
        const techDnsEnable = document.getElementById('tech_dns_enable');

        const ovpnClientEnable = document.getElementById('ovpn_client_enable');
        const qbittorrentEnable = document.getElementById('qbittorrent_enable');
        const qbittorrentInsideVpn = document.getElementById('qbittorrent_inside_vpn');
        
        const monitoringEnable = document.getElementById('monitoring_enable');
        const openvpnMonitoringEnable = document.getElementById('openvpn_monitoring_enable');
        const piKvmMonitoringEnable = document.getElementById('pikvm_monitoring_enable');
        const airGradientMonitoring = document.getElementById('airgradient_monitoring_enable');
        const starLinkMonitoring = document.getElementById('starlink_monitoring_enable');
        const shellyPlugMonitoring = document.getElementById('shelly_plug_monitoring_enable');

        unboundDnsEnable.addEventListener('change', () => {
          if (unboundDnsEnable.checked) {
            techDnsEnable.checked = false;
          }
        });
        
        piholeEnable.addEventListener('change', () => {
          if (piholeEnable.checked) {
            techDnsEnable.checked = false;
          }
        });
        
        piholeWithUnbound.addEventListener('change', () => {
          if (piholeWithUnbound.checked) {
            techDnsEnable.checked = false;
            unboundDnsEnable.checked = true;
            piholeEnable.checked = true;
          }
        });
        
        techDnsEnable.addEventListener('change', () => {
          if (techDnsEnable.checked) {
            unboundDnsEnable.checked = false;
            piholeEnable.checked = false;
            piholeWithUnbound.checked = false;
          }
        });

        qbittorrentInsideVpn.addEventListener('change', () => {
          if (qbittorrentInsideVpn.checked) {
            ovpnClientEnable.checked = true;
            qbittorrentEnable.checked = true;
          } else {
            ovpnClientEnable.checked = false;
          }
        });        

        openvpnMonitoringEnable.addEventListener('change', () => {
          if (openvpnMonitoringEnable.checked) {
            monitoringEnable.checked = true;
          }
        });

        piKvmMonitoringEnable.addEventListener('change', () => {
          if (piKvmMonitoringEnable.checked) {
            monitoringEnable.checked = true;
          }
        });
        
        airGradientMonitoring.addEventListener('change', () => {
          if (airGradientMonitoring.checked) {
            monitoringEnable.checked = true;
          }
        });

        starLinkMonitoring.addEventListener('change', () => {
          if (starLinkMonitoring.checked) {
            monitoringEnable.checked = true;
          }
        });

        shellyPlugMonitoring.addEventListener('change', () => {
          if (shellyPlugMonitoring.checked) {
            monitoringEnable.checked = true;
          }
        });

    // OVPN Certificate upload section
        document.addEventListener('DOMContentLoaded', () => {
          const form = document.getElementById('upload-form');
          // Rest of the code goes here
            form.addEventListener('submit', (event) => {
              event.preventDefault();
              console.log("DBG: Form submitted");
              const formData = new FormData(form);
              fetch('/upload', {
                method: 'POST',
                body: formData
              })
              .then(response => response.text())
              .then(result => {
                console.log(result);
              })
              .catch(error => {
                console.error(error);
              });
            });
          });
    </script>
</div>
</body>
</html>