<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Gateway Configuration</title>
    <style>
        input, label, span, h1 {
            font-family: monospace;
        }
        span {
            color: #636262;
        }
        p {
          font-family: monospace;
          color: #000000;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        h1 {
          margin-bottom: 0px;
        }
    </style>
</head>
<body>
<pre>
  _____             _                      _____     _       _ _ _ 
 | __  |___ ___ ___| |_ ___ ___ ___ _ _   |   __|___| |_ ___| | | |___ _ _ 
 |    -| . |_ -| . | . | -_|  _|  _| | |  |  |  | . |  _| -_| | | | . | | |
 |__|__|_|_|___|  _|___|___|_| |_| |_  |  |_____|_|_|_| |___|_____|_|_|_  |
               |_|       Web-based |___|      Configuration & Install |___| </pre>

    <h1>Main Configuration</h1>
    <p>Standard configuration definitions.</p><br>
    <form id="config-form1" method="POST" action="/save">
      <label for="ur_timezone">Timezone:</label>
      <input type="text" name="ur_timezone" value="{{.URTimezone}}"><br>
      <span>Local Raspberry gateway Timezone. Used for various containers.<br>
      <a href="https://ipapi.co/timezone" target="_blank">Define current TZ</a></span><br><br>

      <input type="checkbox" name="portainer_enable" {{if .PortainerEnable}}checked{{end}}>      
      <label for="portainer_enable" title="UI for Containers management">Install Portainer</label><br>
      <span>Portainer is a containers management interface.</span><br>

      <h1>Local DNS and AD-Blocking</h1>
      <p>Setting up Local DNS and add-blockers.</p>
      <span>You can't use TechnitiumDNS and Unbound + Pi-Hole at the same time, as both utilize same 53 port for DNS.</span><br>
      <span>Advanced configuration available in advanced.config.yml</span><br><br>

      <input type="checkbox" name="unbound_dns_enable" id="unbound_dns_enable" {{if .UnboundDNSEnable}}checked{{end}}>
      <label for="unbound_dns_enable">Unbound DNS</label><br>

      <input type="checkbox" name="pihole_enable" {{if .PiholeEnable}}checked{{end}}>
      <label for="pihole_enable">Pi-hole</label><br>

      <input type="checkbox" name="pihole_with_unbound" {{if .PiholeWithUnbound}}checked{{end}}>
      <label for="pihole_with_unbound">Pi-hole with Unbound as Local DNS</label><br>

      <label for="pihole_password">Pi-hole Web UI Password:</label>
      <input type="password" name="pihole_password" value="{{.PiholePassword}}"><br><br>

      <input type="checkbox" name="tech_dns_enable" id="tech_dns_enable" {{if .TechDNSEnable}}checked{{end}}>
      <label for="tech_dns_enable">TechnitiumDNS</label><br>

      <label for="tech_dns_password">TechnitiumDNS Web UI Password:</label>
      <input type="password" name="tech_dns_password" value="{{.TechDNSPassword}}"><br>

      <h1>OpenVPN</h1>
      <p>OpenVPN Server & Client setup.</p>
      <span>Advanced Server and Client configuration available in advanced.config.yml</span><br><br>

      <input type="checkbox" name="ovpn_server_enable" {{if .OpenVPNServer}}checked{{end}}>
      <label for="ovpn_server_enable">OpenVPN Server</label><br>

      <label for="ovpnui_password">OpenVPN Server Web UI Password:</label>
      <input type="password" name="ovpnui_password" value="{{.OpenVPNUIPassword}}"><br><br>        

      <input type="checkbox" name="ovpn_client_enable" id="ovpn_client_enable" {{if .OpenVPNClient}}checked{{end}}>
      <label for="ovpn_client_enable">OpenVPN Client</label><br>
    </form>

    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
      <label for="ovpn_client_cert">OpenVPN Client Certificate:</label>
      <input type="file" name="file">
      <input type="submit" value="Upload">
      <br><span>File will be uploaded as ~/raspberry-gateway/openvpn-client/{{.OpenVPNClientCert}}</span><br><br>
    </form>   

    <form id="config-form2" method="POST" action="/save">
      <label for="ovpn_client_allowed_subnet">OpenVPN Client Allowed Subnet:</label>
      <input type="text" name="ovpn_client_allowed_subnet" value="{{.OpenVPNClientAllowedSub}}"><br>
      <span> This should be your local WiFi network. <br>This is to allow access to qBitTorrent Web UI from your local network when VPN-client tunnel is connected.</span><br>

      <h1>WireGuard</h1>
      <p>WireGuard VPN and UI setup.</p><br>
 
      <input type="checkbox" name="wireguard_server_enable" {{if .WireGuardServer}}checked{{end}}>
      <label for="wireguard_server_enable">WireGuard Server</label><br>

      <label for="wireguard_password">WireGuard Server Web UI Password:</label>   
      <input type="password" name="wireguard_password" value="{{.WireGuardServerPassword}}"><br>

      <h1>qBitTorrent</h1>
      <p>An open-source software torrent tracker.</p><br>

      <input type="checkbox" name="qbittorrent_enable" id="qbittorrent_enable" {{if .QbitTorrentEnable}}checked{{end}}>
      <label for="qbittorrent_enable">Instal qBitTorrent</label><br>

      <label for="qbittorrent_default_password">Default Web UI Password:</label>   
      <input type="text" name="qbittorrent_default_password" value="{{.QbitTorrentPassword}}" disabled><br>
      <span>Change this default password via WebUI at first login.</span><br><br>

      <input type="checkbox" name="qbittorrent_inside_vpn" id="qbittorrent_inside_vpn" {{if .QbitTorrentInVPN}}checked{{end}}>
      <label for="qbittorrent_inside_vpn">Route torrent traffic via VPN</label><br>
      <span>Route all qBitTorrent traffic via VPN Client connection.<br>
      Don't forget to upload your "OpenVPN Client Certificate" and set "OpenVPN Client Allowed Subnet" above.</span><br>

      <h1>Monitoring</h1>
      <p>OpenVPN Server & Client setup.</p>
      <span>Advanced Monitoring configuration available in advanced.config.yml</span><br><br>

      <input type="checkbox" name="monitoring_enable" id="monitoring_enable" {{if .MonitoringEnable}}checked{{end}}>
      <label for="monitoring_enable">Enable Monitoring</label><br>

      <label for="monitoring_grafana_admin_password">Grafana Password for first login:</label>   
      <input type="text" name="monitoring_grafana_admin_password" value="{{.MonitoringGrafPassword}}"><br>

      <input type="checkbox" name="openvpn_monitoring_enable" id="openvpn_monitoring_enable" {{if .OpenVPNMonitoringEnable}}checked{{end}}>
      <label for="openvpn_monitoring_enable">OpenVPN Server Monitoring</label><br>

      <input type="checkbox" name="pikvm_monitoring_enable" id="pikvm_monitoring_enable" {{if .PiKVMMonitoringEnable}}checked{{end}}>
      <label for="pikvm_monitoring_enable">PiKVM Monitoring</label><br>

      <input type="checkbox" name="airgradient_monitoring_enable" id="airgradient_monitoring_enable" {{if .AirGradientMonitoring}}checked{{end}}>
      <label for="airgradient_monitoring_enable">AirGradient Monitoring</label><br>

      <input type="checkbox" name="starlink_monitoring_enable" id="starlink_monitoring_enable" {{if .StarLinkMonitoring}}checked{{end}}>
      <label for="starlink_monitoring_enable">StarLink Monitoring</label><br>

      <input type="checkbox" name="shelly_plug_monitoring_enable" id="shelly_plug_monitoring_enable" {{if .ShellyPlugMonitoring}}checked{{end}}>
      <label for="shelly_plug_monitoring_enable">ShellyPlug Monitoring</label><br><br>
       <!--  <input type="submit" value="Save" style="font-size: 2em; width: 100px; height: 40px;">-->
    </form>
    <button id="submit-btn" style="font-family: monospace; font-size: 2em; width: 100px; height: 40px;">Save</button>
  
    <h1>Installation</h1>
    <p>The installation process will take some time. Once that's done, it'll be like you have a new <a href="https://github.com/d3vilh/raspberry-gateway" target="_blank">Raspberry Gateway</a> up and running. </p> <br>

    <form id="install-form" method="POST" action="/install">
        <input type="submit" value="Install" style="font-size: 2em; width: 130px; height: 40px;" onclick="return confirm('Are you sure you want to install?');">
    </form>
    <br><br>

    <iframe id="output-iframe" src="webinstall.log" width="100%" height="300" scrolling="yes"></iframe><br>
    <span>Latest installation log will be saved to ~/raspberry-gateway/webinstall.log</span><br><br>
<pre>
   _____     _     _      __    _     _   _____ 
  |     |_ _|_|___| |_   |  |  |_|___| |_|   __|
 _|  |  | | | |  _| '_|  |  |__| |   | '_|__   |_ 
|_|__  _|___|_|___|_,_|  |_____|_|_|_|_,_|_____|_|
     |__| Quick Links to installed enviroment.</pre>
     <p>Presenting an amusing array of locally installed software links!<br>Some are wide awake, while others are enjoying a little siesta. Because you didn't install it... </p>
    <h1>Portainer</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:9000" target="_blank">http://{{.IPAddress}}:9000</a></p>

    <h1>Pi-Hole</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:80" target="_blank">http://{{.IPAddress}}:80</a></p>

    <h1>OpenVPN Server</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:8080" target="_blank">http://{{.IPAddress}}:8080</a></p>

    <h1>qBitTorrent</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:8090" target="_blank">http://{{.IPAddress}}:8090</a></p>

    <h1>Raspberry Monitoring</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:3030" target="_blank">http://{{.IPAddress}}:3030</a></p>

    <h1>Prometheus</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:9090" target="_blank">http://{{.IPAddress}}:9090</a></p>

    <h1>Technitium DNS</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:5380" target="_blank">http://{{.IPAddress}}:5380</a></p>

    <h1>WireGuard</h1>
    <p>May be awake on <a href="http://{{ .IPAddress }}:5000" target="_blank">http://{{.IPAddress}}:5000</a></p><br><br><br>

    <span>2023 by <a href="https://github.com/d3vilh" target="_blank">d3vilh</a> for <a href="https://github.com/d3vilh/raspberry-gateway" target="_blank">raspberry-gateway</a> project.</span><br>
    <script>
    // Combine config-form1 and config-form2 into one fom and submit it
        document.getElementById('submit-btn').addEventListener('click', function(event) {
          event.preventDefault();
          var formData1 = new FormData(document.getElementById('config-form1'));
          var formData2 = new FormData(document.getElementById('config-form2'));
          var formData = new FormData();
          for (var pair of formData1.entries()) {
            formData.append(pair[0], pair[1]);
          }
          for (var pair of formData2.entries()) {
            formData.append(pair[0], pair[1]);
          }
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '/save');
          xhr.onload = function() {
              // handle success response
              console.log(xhr.responseText);
            };
            xhr.onerror = function() {
              // handle error response
            };
            xhr.send(formData);
        });

    // Auto refresh iframe for webinstall.log
        const outputIframe = document.getElementById('output-iframe');
        setInterval(() => {
          outputIframe.src = 'webinstall.log?' + new Date().getTime();
          outputIframe.onload = () => {
            outputIframe.contentWindow.scrollTo(0, outputIframe.contentWindow.document.body.scrollHeight);
          };
        }, 3000);

    // Checkbox logic  
        const unboundDnsEnable = document.getElementById('unbound_dns_enable');
        const piholeEnable = document.querySelector('input[name="pihole_enable"]');
        const piholeWithUnbound = document.querySelector('input[name="pihole_with_unbound"]');
        const techDnsEnable = document.getElementById('tech_dns_enable');

        const ovpnClientEnable = document.getElementById('ovpn_client_enable');
        const qbittorrentEnable = document.getElementById('qbittorrent_enable');
        const qbittorrentInsideVpn = document.getElementById('qbittorrent_inside_vpn');
        
        const monitoringEnable = document.getElementById('monitoring_enable');
        const openvpnMonitoringEnable = document.getElementById('openvpn_monitoring_enable');
        const piKvmMonitoringEnable = document.getElementById('pikvm_monitoring_enable');
        const airGradientMonitoring = document.getElementById('airgradient_monitoring_enable');
        const starLinkMonitoring = document.getElementById('starlink_monitoring_enable');
        const shellyPlugMonitoring = document.getElementById('shelly_plug_monitoring_enable');

        unboundDnsEnable.addEventListener('change', () => {
          if (unboundDnsEnable.checked) {
            techDnsEnable.checked = false;
          }
        });
        
        piholeEnable.addEventListener('change', () => {
          if (piholeEnable.checked) {
            techDnsEnable.checked = false;
          }
        });
        
        piholeWithUnbound.addEventListener('change', () => {
          if (piholeWithUnbound.checked) {
            techDnsEnable.checked = false;
            unboundDnsEnable.checked = true;
            piholeEnable.checked = true;
          }
        });
        
        techDnsEnable.addEventListener('change', () => {
          if (techDnsEnable.checked) {
            unboundDnsEnable.checked = false;
            piholeEnable.checked = false;
            piholeWithUnbound.checked = false;
          }
        });

        qbittorrentInsideVpn.addEventListener('change', () => {
          if (qbittorrentInsideVpn.checked) {
            ovpnClientEnable.checked = true;
            qbittorrentEnable.checked = true;
          } else {
            ovpnClientEnable.checked = false;
          }
        });        

        openvpnMonitoringEnable.addEventListener('change', () => {
          if (openvpnMonitoringEnable.checked) {
            monitoringEnable.checked = true;
          }
        });

        piKvmMonitoringEnable.addEventListener('change', () => {
          if (piKvmMonitoringEnable.checked) {
            monitoringEnable.checked = true;
          }
        });
        
        airGradientMonitoring.addEventListener('change', () => {
          if (airGradientMonitoring.checked) {
            monitoringEnable.checked = true;
          }
        });

        starLinkMonitoring.addEventListener('change', () => {
          if (starLinkMonitoring.checked) {
            monitoringEnable.checked = true;
          }
        });

        shellyPlugMonitoring.addEventListener('change', () => {
          if (shellyPlugMonitoring.checked) {
            monitoringEnable.checked = true;
          }
        });

    // OVPN Certificate upload section
        document.addEventListener('DOMContentLoaded', () => {
          const form = document.getElementById('upload-form');
          // Rest of the code goes here
            form.addEventListener('submit', (event) => {
              event.preventDefault();
              console.log("DBG: Form submitted");
              const formData = new FormData(form);
              fetch('/upload', {
                method: 'POST',
                body: formData
              })
              .then(response => response.text())
              .then(result => {
                console.log(result);
              })
              .catch(error => {
                console.error(error);
              });
            });
          });
    </script>

</body>
</html>