<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Gateway Configuration</title>
</head>
<body>
<pre> Raspberry Gateway Web-based Configuration & Install.</pre>

    <h1>Main Configuration</h1>
    <p>Standard configuration definitions.</p><br>
    <form method="POST" action="/save">
        <h1>Local DNS and ad-blocking</h1>
        <p>Setting up Local DNS and add-blockers.</p>
        <label for="unbound_dns_enable">Unbound DNS:</label>
        <input type="checkbox" name="unbound_dns_enable" id="unbound_dns_enable" {{if .UnboundDNSEnable}}checked{{end}}><br>

        <label for="pihole_enable">Pi-hole:</label>
        <input type="checkbox" name="pihole_enable" {{if .PiholeEnable}}checked{{end}}><br>

        <label for="pihole_with_unbound">Pi-hole with Unbound as Local DNS:</label>
        <input type="checkbox" name="pihole_with_unbound" {{if .PiholeWithUnbound}}checked{{end}}><br>

        <label for="pihole_password">Pi-hole Password:</label>
        <input type="password" name="pihole_password" value="{{.PiholePassword}}"><br>

        <label for="tech_dns_enable">TechnitiumDNS:</label>
        <input type="checkbox" name="tech_dns_enable" id="tech_dns_enable" {{if .TechDNSEnable}}checked{{end}}><br>

        <input type="submit" value="Save">
    </form>

    <h1>Installation</h1>
    <p>Installation process will take some time.</p>

    <form method="POST" action="/install">
        <input type="submit" value="Install" onclick="return confirm('Are you sure you want to install?');">
    </form>
    
    <br><br>
 <iframe id="output-iframe" src="output.txt" width="100%" height="300"></iframe>
 <script>
  const outputIframe = document.getElementById('output-iframe');
  setInterval(() => {
      outputIframe.src = 'output.txt?' + new Date().getTime();
  }, 3000);
</script>

    <script>
        const unboundDnsEnable = document.getElementById('unbound_dns_enable');
        const piholeEnable = document.querySelector('input[name="pihole_enable"]');
        const piholeWithUnbound = document.querySelector('input[name="pihole_with_unbound"]');
        const techDnsEnable = document.getElementById('tech_dns_enable');

        unboundDnsEnable.addEventListener('change', () => {
          if (unboundDnsEnable.checked) {
            techDnsEnable.checked = false;
          }
        });
        
        piholeEnable.addEventListener('change', () => {
          if (piholeEnable.checked) {
            techDnsEnable.checked = false;
          }
        });
        
        piholeWithUnbound.addEventListener('change', () => {
          if (piholeWithUnbound.checked) {
            techDnsEnable.checked = false;
            unboundDnsEnable.checked = true;
            piholeEnable.checked = true;
          }
        });
        
        techDnsEnable.addEventListener('change', () => {
          if (techDnsEnable.checked) {
            unboundDnsEnable.checked = false;
            piholeEnable.checked = false;
            piholeWithUnbound.checked = false;
          }
        });
    </script>

</body>
</html>